


section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    margin-top: 6rem;
}

h1 {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: #c6bbbb;
    height: 24rem;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    padding: 1rem;
    margin: 1rem;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

input {
    border-radius: 0.5rem;
    border: none;
    padding: 0.4rem;
}

#btn {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    background-color: #3d3636;
    color: white;
    width: 10rem;
    margin: 0 auto;
}

#msg {
    height: 7rem;
}

section div {
    display: flex;
    flex-direction: column;
}
